body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

.form__select{
    width: fit-content;
}

.logo{
    width: 100px;
    position: absolute;
}