<table class="table">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Vorname</th>
    <th scope="col">Nachname</th>
    <th scope="col">E-Mail</th>
    <th scope="col">Adresse</th>
    <th scope="col">PLZ</th>
    <th scope="col">Ort</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
    <td>Berliner Str. 15</td>
    <td>10969</td>
    <td>Berlin</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
    <td>Berliner Str. 16</td>
    <td>10969</td>
    <td>Berlin</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td colspan="2">Larry the Bird</td>
    <td>@twitter</td>
    <td>Berliner Str. 17</td>
    <td>10969</td>
    <td>Berlin</td>
  </tr>
  </tbody>
</table>